<div class="content_block">
  <div class="container-fluid">
    <div class="row">
      <!-- Content -->
      <div class="col-md-12 col-sm-12">
        <div class="title_block">
          <h2 class="float-left">
            {{globals.adminTranslationText.state.list.title}}</h2>
          <div class="breadcrumb_block float-left">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a routerLink="/admin/adminDashboard">
                  <i class="fa fa-home"></i>
                </a>
              </li>
              <li class="breadcrumb-item"><a
                  routerLink="/admin/state/list">{{globals.adminTranslationText.state.list.breadcrumbTitle}}</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                {{globals.adminTranslationText.state.list.breadcrumbSubTitle}}</li>
            </ol>
          </div>
          <a routerLink="/admin/state/add"
            class="all_btn theme_btn float-right"  *ngIf ="menuEntity['add-state']">{{globals.adminTranslationText.state.list.buttons.add}}</a>
          <div class="clearfix"></div>
        </div>
        <div class="row d-flex justify-content-center">
          <div class="col-md-12 col-sm-12">
            <div class="inner_content_block">
              <div class="table_block">
                  <kendo-grid
                      [data]="stateList"
                      [pageSize]="pageSize"
                      [skip]="skip"
                      [pageable]="true"
                      (pageChange)="pageChange($event)"
                      [sort]="sort"
                      [sortable]="{
                        allowUnsort: allowUnsort,
                        mode: 'single'
                        }"
                      (sortChange)="sortChange($event)"
                    >
  
                  <ng-template kendoGridToolbarTemplate>
                    <input placeholder="Search in all columns..." kendoTextBox
                      (input)="onFilter($event.target.value)" />
                  </ng-template>
                  <kendo-grid-column field="CountryName"
                    title="{{globals.adminTranslationText.state.list.collumns.country}}">
                  </kendo-grid-column>
                  <kendo-grid-column field="StateName"
                    title="{{globals.adminTranslationText.state.list.collumns.state}}">
                  </kendo-grid-column>
                  <kendo-grid-column field="StateAbbreviation"
                    title="{{globals.adminTranslationText.state.list.collumns.countryAbbreviation}}">
                  </kendo-grid-column>

                  <kendo-grid-column title="{{globals.adminTranslationText.state.list.collumns.isActive}}"
                    class="text-center" [width]="150"  *ngIf ="menuEntity['update-all']">
                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                      <div class="activeyes_box">
                        <kendo-switch (valueChange)="isActiveChange(dataItem,$event)" [checked]="dataItem.IsActive==1"
                          [checked]="false" [onLabel]="'Y'" [offLabel]="'N'" [disabled]="false"></kendo-switch>
                      </div>
                    </ng-template>
                  </kendo-grid-column>

                  <kendo-grid-column title="Actions" [width]="150">
                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                      <button kendoButton class="edit" (click)="edit(dataItem.StateId)">
                        <i data-toggle="tooltip" data-placement="top"
                          title="{{globals.adminTranslationText.state.list.buttons.edit}}" class="fa fa-edit"  *ngIf ="menuEntity['add-state']"></i>
                      </button>
                      <button kendoButton class="delete" (click)="deleteItem(dataItem)" *ngIf ="menuEntity['delete-all']">
                        <i data-toggle="tooltip" data-placement="top" class="fa fa-trash-o"
                          title="{{globals.adminTranslationText.state.list.buttons.delete}}"></i>
                      </button>
                    </ng-template>
                  </kendo-grid-column>
                </kendo-grid>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Content -->
      <div class="clearfix"></div>
    </div>
  </div>
</div>