<div class="content_block">
  <div class="container-fluid">
    <div class="row">
      <!-- Content -->
      <div class="col-md-12 col-sm-12">
        <div class="title_block">
          <h2 class="float-left">
            {{globals.adminTranslationText.document.list.title}}</h2>
          <div class="breadcrumb_block float-left">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a routerLink="/admin/adminDashboard">
                  <i class="fa fa-home"></i>
                </a>
              </li>
              <li class="breadcrumb-item"><a
                  routerLink="/admin/document/list">{{globals.adminTranslationText.document.list.breadcrumbTitle}}</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                {{globals.adminTranslationText.document.list.breadcrumbSubTitle}}</li>
            </ol>
          </div>
          <a routerLink="/admin/document/add"
            class="all_btn theme_btn float-right">{{globals.adminTranslationText.document.list.buttons.add}}</a>
          <div class="clearfix"></div>
        </div>
        <div class="row d-flex justify-content-center">
          <div class="col-md-12 col-sm-12">
            <div class="inner_content_block">
              <div class="table_block">
                <!-- <table id="dataTables-example" class="table table-hover" style="width:100%">
                  <thead>
                    <tr>
                      <th class="text-center sr_no_width">{{globals.adminTranslationText.document.list.collumns.srNo}}
                      </th>
                      <th>{{globals.adminTranslationText.document.list.collumns.documentName}}</th>
                      <th class="width_15">{{globals.adminTranslationText.document.list.collumns.documentSize}}</th>
                      <th class="width_15">{{globals.adminTranslationText.document.list.collumns.documentType}}</th>
                      <th class="text-center active_width hide_active">
                        {{globals.adminTranslationText.document.list.collumns.isActive}}</th>
                      <th class="text-center active_width">
                        {{globals.adminTranslationText.document.list.collumns.isActive}}</th>
                      <th class="text-center action_width">
                        {{globals.adminTranslationText.document.list.collumns.actions}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let document of documentList;let i = index">
                      <td class="text-center">{{i+1}}</td>
                      <td>{{document.DocumentName}}</td>
                      <td>{{document.DocumentSize + " "+ document.DocumentSizeUnit}}</td>
                      <td>{{document.DocumentType}}</td>
                      <td class="text-center hide_active">
                        <span *ngIf="document.IsActive==1">Yes</span>
                        <span *ngIf="document.IsActive!=1">No</span>
                      </td>
                      <td class="text-center">
                        <div class="activeyes_box" data-toggle="tooltip" data-placement="top"
                          [attr.title]="document.IsActive==1 ? 'Active' : 'Deactive'">
                          <input type="checkbox" name="active{{i}}" id="active{{i}}"
                            (change)="isActiveChange(document,i)" [checked]="document.IsActive==1" value="Yes">
                          <label for="active{{i}}"></label>
                        </div>
                      </td>
                      <td class="text-center">
                        <button data-toggle="tooltip" data-placement="top" title="Edit" type="button" class="edit"
                          routerLink="/admin/document/edit/{{document.DocumentId}}">
                          <i class="fa fa-pencil" aria-hidden="true"></i></button>
                        <button data-toggle="tooltip" data-placement="top" title="Delete" type="button" class="delete"
                          (click)="deleteDocument(document)">
                          <i class="fa fa-trash" aria-hidden="true"></i></button>
                      </td>
                    </tr>
                    <tr *ngIf="documentList.length<=0">
                      <td colspan="8">{{globals.adminTranslationText.document.list.recordNotFound}}</td>
                    </tr>
                  </tbody>
                </table> -->
      

                    <kendo-grid
                    [data]="documentList"
                    [pageSize]="pageSize"
                    [skip]="skip"
                    [pageable]="true"
                    (pageChange)="pageChange($event)"
                    [sort]="sort"
                    [sortable]="{
                      allowUnsort: allowUnsort,
                      mode: 'single'
                      }"
                    (sortChange)="sortChange($event)"
                  >


                  <ng-template kendoGridToolbarTemplate>
                    <input placeholder="Search in all columns..." kendoTextBox
                      (input)="onFilter($event.target.value)" />
                    <!-- <button kendoGridExcelCommand type="button" icon="file-excel" style="float:right;"></button>
                    <button kendoGridPDFCommand icon="file-pdf" style="float:right;"></button>
                    <button type="button" class="k-button" icon="file-pdf" style="float:right;" (click)="excelexport.save()">Export To Excel</button> -->
                  </ng-template>
                  <!-- <kendo-grid-column title="{{globals.adminTranslationText.document.list.collumns.srNo}}" [width]="50">
                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                      {{rowIndex+1}}
                    </ng-template>
                  </kendo-grid-column> -->
                  <kendo-grid-column field="DocumentName"
                    title="{{globals.adminTranslationText.document.list.collumns.documentName}}">
                  </kendo-grid-column>
                  <kendo-grid-column field="DocumentSize"
                    title="{{globals.adminTranslationText.document.list.collumns.documentSize}}">
                    <ng-template kendoGridCellTemplate let-dataItem>
                      {{dataItem.DocumentSize + " "+ dataItem.DocumentSizeUnit}}
                    </ng-template>
                  </kendo-grid-column>
                  <kendo-grid-column field="DocumentType"
                    title="{{globals.adminTranslationText.document.list.collumns.documentType}}">
                  </kendo-grid-column>

                  <kendo-grid-column title="{{globals.adminTranslationText.document.list.collumns.isActive}}"
                    class="text-center" [width]="150">
                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                      <div class="activeyes_box">
                        <kendo-switch (valueChange)="isActiveChange(dataItem,$event)" [checked]="dataItem.IsActive==1"
                          [checked]="false" [onLabel]="'Y'" [offLabel]="'N'" [disabled]="false"></kendo-switch>
                      </div>
                    </ng-template>
                  </kendo-grid-column>

                  <kendo-grid-column title="{{globals.adminTranslationText.document.list.collumns.actions}}"
                    [width]="150">
                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                      <button kendoButton class="edit" (click)="edit(dataItem.DocumentId)">
                        <i data-toggle="tooltip" data-placement="top"
                          title="{{globals.adminTranslationText.document.list.buttons.edit}}" class="fa fa-edit"></i>
                      </button>
                      <button kendoButton class="delete" (click)="deleteDocument(dataItem)">
                        <i data-toggle="tooltip" data-placement="top" class="fa fa-trash-o"
                          title="{{globals.adminTranslationText.document.list.buttons.delete}}"></i>
                      </button>
                    </ng-template>
                  </kendo-grid-column>
                </kendo-grid>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Content -->
      <div class="clearfix"></div>
    </div>
  </div>
</div>