<div class="content_block">
    <div class="container-fluid">
      <div class="row">
        <!-- Content -->
        <div class="col-md-12 col-sm-12">
          <div class="title_block">
            <h2 class="float-left">
              Document Verification Request</h2>
            <div class="breadcrumb_block float-left">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a routerLink="/admin/adminDashboard">
                    <i class="fa fa-home"></i>
                  </a>
                </li>
                <li class="breadcrumb-item"><a
                    routerLink="/admin/inquire/list">{{globals.adminTranslationText.manageRegisterRequest.breadcrumbTitle}}</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  {{globals.adminTranslationText.manageRegisterRequest.breadcrumbSubTitle}}</li>
              </ol>
            </div>
            <a routerLink="/admin/item/list"
              class="all_btn themeoption_btn float-right">{{globals.adminTranslationText.item.form.buttons.backToList}}</a>
            <div class="clearfix"></div>
          </div>
          <div class="row d-flex justify-content-center">
            <div class="col-md-12 col-sm-12">
              <div class="inner_content_block">
                  <div class="table_block">
                      <table id="dataTables-example" class="table table-hover" style="width:100%">
                          <thead>
                            <tr>
                              <th class="text-center sr_no_width">Sr. Np</th>
                              <th>Certificate Name</th>
                              <th class="width_15">Candidate Name</th>
                              <th class="text-center width_15">No. of Documents</th>
                              <th class="text-center action_width">Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td class="text-center">1</td>
                              <td>Certificate Name</td>
                              <td>Candidate Name</td>
                              <td class="text-center">4</td>
                              
                              <td class="text-center">
                                <button  data-toggle="tooltip" data-placement="top"   title="View Documents "   type="button"  class="edit">
                                <i class="fa fa-eye" aria-hidden="true"></i></button>
                              </td>
                            </tr>
                            <tr *ngIf="documentList.length<=0">
                              <td colspan="8" >{{globals.adminTranslationText.document.list.recordNotFound}}</td>
                            </tr> 
                          </tbody>
                        </table>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Content -->
        <div class="clearfix"></div>
      </div>
    </div>
  </div>

  