<div class="content_block">
  <div class="container-fluid">
    <div class="row">
      <!-- Content -->
      <div class="col-md-12 col-sm-12">
        <div class="title_block">
          <h2 class="float-left">
            {{globals.adminTranslationText.emailTemplate.list.title}}</h2>
          <div class="breadcrumb_block float-left">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a routerLink="/admin/adminDashboard">
                  <i class="fa fa-home"></i>
                </a>
              </li>
              <li class="breadcrumb-item"><a
                  routerLink="/admin/email-template/list">{{globals.adminTranslationText.emailTemplate.list.breadcrumbTitle}}</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                {{globals.adminTranslationText.emailTemplate.list.breadcrumbSubTitle}}</li>
            </ol>
          </div>
          <a routerLink="/admin/email-template/add"
            class="all_btn theme_btn float-right" *ngIf ="menuEntity['add-emailtemplate']" >{{globals.adminTranslationText.emailTemplate.list.buttons.add}}</a>
          <div class="clearfix"></div>
        </div>
        <div class="row d-flex justify-content-center">
          <div class="col-md-12 col-sm-12">
            <div class="inner_content_block">
              <div class="table_block">
                    <kendo-grid
                    [data]="EmailList"
                    [pageSize]="pageSize"
                    [skip]="skip"
                    [pageable]="true"
                    (pageChange)="pageChange($event)"
                    [sort]="sort"
                    [sortable]="{
                      allowUnsort: allowUnsort,
                      mode: 'single'
                      }"
                    (sortChange)="sortChange($event)"
                  >


                  <ng-template kendoGridToolbarTemplate>
                    <input placeholder="Search in all columns..." kendoTextBox
                      (input)="onFilter($event.target.value)" />
                  </ng-template>
               
                  <kendo-grid-column field="Token"
                    title="{{globals.adminTranslationText.emailTemplate.list.collumns.emailToken}}">
                  </kendo-grid-column>
                  <kendo-grid-column field="Subject"
                    title="{{globals.adminTranslationText.emailTemplate.list.collumns.subject}}">
                  </kendo-grid-column>
                  <kendo-grid-column field="roleTo"
                    title="{{globals.adminTranslationText.emailTemplate.list.collumns.to}}">
                  </kendo-grid-column>
                  <kendo-grid-column field="roleCc"
                    title="{{globals.adminTranslationText.emailTemplate.list.collumns.cc}}">
                  </kendo-grid-column>
                  <kendo-grid-column field="roleBcc"
                    title="{{globals.adminTranslationText.emailTemplate.list.collumns.bcc}}">
                  </kendo-grid-column>

                  <kendo-grid-column title="{{globals.adminTranslationText.emailTemplate.list.collumns.isActive}}"
                    class="text-center" [width]="150"  *ngIf ="menuEntity['update-all']">
                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                      <div class="activeyes_box">
                        <kendo-switch (valueChange)="isActiveChange(dataItem,$event)" [checked]="dataItem.IsActive==1"
                          [checked]="false" [onLabel]="'Y'" [offLabel]="'N'" [disabled]="false"></kendo-switch>
                      </div>
                    </ng-template>
                  </kendo-grid-column>

                  <kendo-grid-column title="{{globals.adminTranslationText.emailTemplate.list.collumns.actions}}"
                    [width]="150">
                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                      <button kendoButton class="edit" (click)="edit(dataItem.EmailTemplateId)"  *ngIf ="menuEntity['add-emailtemplate']">

                        <i data-toggle="tooltip" data-placement="top"
                          title="{{globals.adminTranslationText.emailTemplate.list.buttons.edit}}"
                          class="fa fa-edit"></i>
                      </button>
                      <button kendoButton class="delete" (click)="deleteEmail(dataItem)" *ngIf ="menuEntity['delete-all']">
                        <i data-toggle="tooltip" data-placement="top" class="fa fa-trash-o"
                          title="{{globals.adminTranslationText.emailTemplate.list.buttons.delete}}"></i>
                      </button>
                    </ng-template>
                  </kendo-grid-column>
                </kendo-grid>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Content -->
      <div class="clearfix"></div>
    </div>
  </div>
</div>