<div class="content_block">
  <div class="container-fluid">
    <div class="row">
      <!-- Content -->
      <div class="col-md-12 col-sm-12">
        <div class="title_block">
          <h2 class="float-left">
            {{globals.commonTranslationText.logs.activityLogList.title}}</h2>
          <div class="breadcrumb_block float-left">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a routerLink="/admin/adminDashboard">
                  <i class="fa fa-home"></i>
                </a>
              </li>
              <li class="breadcrumb-item"><a
                  routerLink="/admin/activity-log">{{globals.commonTranslationText.logs.activityLogList.breadcrumbTitle}}</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                {{globals.commonTranslationText.logs.activityLogList.breadcrumbSubTitle}}</li>
            </ol>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="row d-flex justify-content-center">
          <div class="col-md-12 col-sm-12">
            <div class="inner_content_block">
              <div class="alert alert-{{globals.type}}" role="alert" *ngIf="globals.msgflag">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                {{globals.message}}
              </div>
              <div class="table_block">
                <!-- <table id="dataTables-example" class="table table-hover" style="width: 100%;">
                  <thead>
                    <tr>
                      <th class="text-center sr_no_width">
                        {{globals.commonTranslationText.logs.activityLogList.collumns.srNo}}</th>
                      <th class="width_15">{{globals.commonTranslationText.logs.activityLogList.collumns.user}}</th>
                      <th class="width_15">{{globals.commonTranslationText.logs.activityLogList.collumns.module}}</th>
                      <th>{{globals.commonTranslationText.logs.activityLogList.collumns.activity}}</th>
                      <th class="width_15">{{globals.commonTranslationText.logs.activityLogList.collumns.dateTime}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let activity of activityList; let i = index">
                      <td class="text-center">{{i+1}}</td>
                      <td>{{activity.UserName}}</td>
                      <td>{{activity.Module}}</td>
                      <td>{{activity.Activity}}</td>
                      <td>{{activity.CreatedOn | date : 'MM/dd/yyyy, h:mm a'}}</td>
                    </tr>
                    <tr *ngIf="activityList.length<=0">
                      <td colspan="8">{{globals.commonTranslationText.logs.activityLogList.recordNotFound}}</td>
                    </tr>
                  </tbody>
                </table> -->
                <kendo-grid [kendoGridBinding]="activityList" kendoGridSelectBy="id" [pageSize]="10" [pageable]="true"
                  [groupable]="false" [reorderable]="false" [resizable]="false" [height]="auto" [sortable]="{
                    allowUnsort: true,
                    mode: 'single'
                    }" [sort]="sort">

                  <ng-template kendoGridToolbarTemplate>
                    <input placeholder="Search in all columns..." kendoTextBox
                      (input)="onFilter($event.target.value)" />
                    <!-- <button kendoGridExcelCommand type="button" icon="file-excel" style="float:right;"></button>
                    <button kendoGridPDFCommand icon="file-pdf" style="float:right;"></button>
                    <button type="button" class="k-button" icon="file-pdf" style="float:right;" (click)="excelexport.save()">Export To Excel</button> -->
                  </ng-template>
                  <!-- <kendo-grid-column title="{{globals.commonTranslationText.logs.activityLogList.collumns.srNo}}"
                    [width]="50">
                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                      {{rowIndex+1}}
                    </ng-template>
                  </kendo-grid-column> -->
                  <kendo-grid-column field="UserName"
                    title="{{globals.commonTranslationText.logs.activityLogList.collumns.user}}">
                  </kendo-grid-column>
                  <kendo-grid-column field="Module"
                    title="{{globals.commonTranslationText.logs.activityLogList.collumns.module}}">
                  </kendo-grid-column>
                  <kendo-grid-column field="Activity"
                    title="{{globals.commonTranslationText.logs.activityLogList.collumns.activity}}">
                  </kendo-grid-column>
                  <kendo-grid-column field="CreatedOn" title="{{globals.commonTranslationText.logs.activityLogList.collumns.dateTime}}">
                    <ng-template kendoGridCellTemplate let-dataItem>
                      <span>{{dataItem.CreatedOn | date : 'MM/dd/yyyy, h:mm a'}}</span>
                    </ng-template>
                  </kendo-grid-column>
                </kendo-grid>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Content -->
      <div class="clearfix"></div>
    </div>
  </div>
</div>