<div class="content_block">
  <div class="container-fluid">
    <div class="row">
      <!-- Content -->
      <div class="col-md-12 col-sm-12">
        <div class="title_block">
          <h2 class="float-left">
            {{globals.adminTranslationText.userPendingVerification.list.title}}</h2>
          <div class="breadcrumb_block float-left">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a routerLink="/admin/adminDashboard">
                  <i class="fa fa-home"></i>
                </a>
              </li>
              <li class="breadcrumb-item"><a
                  routerLink="/admin/userPendingVerification">{{globals.adminTranslationText.userPendingVerification.list.breadcrumbTitle}}</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                {{globals.adminTranslationText.userPendingVerification.list.breadcrumbSubTitle}}</li>
            </ol>
          </div>

          <div class="clearfix"></div>
        </div>
        <div class="row d-flex justify-content-center">
          <div class="col-md-12 col-sm-12">
            <div class="inner_content_block">
              <div class="table_block">
                <!-- <table id="dataTables-example" class="table table-hover" style="width:100%">
                      <thead>
                        <tr>
                          <th class="text-center sr_no_width">{{globals.adminTranslationText.document.list.collumns.srNo}}</th>
                          <th>{{globals.adminTranslationText.userPendingVerification.list.collumns.certificateName}}</th>
                          <th class="width_15">{{globals.adminTranslationText.userPendingVerification.list.collumns.userName}}</th>
                          <th class="width_15">{{globals.adminTranslationText.userPendingVerification.list.collumns.userRole}}</th>
                          <th class="text-center action_width">{{globals.adminTranslationText.userPendingVerification.list.collumns.actions}}</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let userPendingVerification of userPendingVerificationList;let i = index">
                          <td class="text-center">{{i+1}}</td>
                          <td>{{userPendingVerification.CertificateName}}</td>
                          <td>{{userPendingVerification.Name }}</td>
                          <td>{{userPendingVerification.RoleName}}</td>
                          <td class="text-center">
                            <button  data-toggle="tooltip" data-placement="top"   title="Edit"   type="button"  class="edit" 
                              routerLink="/admin/userCertificateDetail/{{userPendingVerification.UserId}}">
                            <i class="fa fa-pencil" aria-hidden="true"></i></button>
                            
                          </td>
                        </tr>
                        <tr *ngIf="userPendingVerificationList.length<=0">
                          <td colspan="8" >{{globals.adminTranslationText.userPendingVerification.list.recordNotFound}}</td>
                        </tr> 
                      </tbody>
                    </table> -->
                <kendo-grid [kendoGridBinding]="userPendingVerificationList" kendoGridSelectBy="id" [pageSize]="10"
                  [pageable]="true" [groupable]="false" [reorderable]="false" [resizable]="false"
                  [sortable]="{
                    allowUnsort: true,
                    mode: 'single'
                    }" [sort]="sort">

                  <ng-template kendoGridToolbarTemplate>
                    <input placeholder="Search in all columns..." kendoTextBox
                      (input)="onFilter($event.target.value)" />
                    <!-- <button kendoGridExcelCommand type="button" icon="file-excel" style="float:right;"></button>
                          <button kendoGridPDFCommand icon="file-pdf" style="float:right;"></button>
                          <button type="button" class="k-button" icon="file-pdf" style="float:right;" (click)="excelexport.save()">Export To Excel</button> -->
                  </ng-template>
                  <!-- <kendo-grid-column title="{{globals.adminTranslationText.userPendingVerification.list.collumns.srNo}}"
                    [width]="50">
                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                      {{rowIndex+1}}
                    </ng-template>
                  </kendo-grid-column> -->
                  <kendo-grid-column field="CertificateName"
                    title="{{globals.adminTranslationText.userPendingVerification.list.collumns.certificateName}}">
                  </kendo-grid-column>
                  <kendo-grid-column field="Name"
                    title="{{globals.adminTranslationText.userPendingVerification.list.collumns.userName}}">
                  </kendo-grid-column>
                  <kendo-grid-column field="RoleName"
                    title="{{globals.adminTranslationText.userPendingVerification.list.collumns.userRole}}">
                  </kendo-grid-column>

                  <kendo-grid-column
                    title="{{globals.adminTranslationText.userPendingVerification.list.collumns.actions}}"
                    [width]="150">
                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                      <button kendoButton class="edit" (click)="userCertificateDetail(dataItem.UserId)">
                        <i data-toggle="tooltip" data-placement="top"
                          title="{{globals.adminTranslationText.userPendingVerification.list.buttons.edit}}"
                          class="fa fa-edit"></i>
                      </button>
                    </ng-template>
                  </kendo-grid-column>
                </kendo-grid>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Content -->
      <div class="clearfix"></div>
    </div>
  </div>
</div>