<div class="content_block">
  <div class="container-fluid">
    <div class="row">
      <!-- Content -->
      <div class="col-md-12 col-sm-12">
        <div class="title_block">
          <h2 class="float-left">
            {{defaultDashboardEntity.UserName}}'s {{globals.commonTranslationText.candidateDashboardPage.title}}</h2>
          <div class="breadcrumb_block float-left">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a>
                  <i class="fa fa-home"></i>
                </a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                {{globals.commonTranslationText.candidateDashboardPage.breadcrumbTitle}}</li>
            </ol>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="row d-flex justify-content-center">
          <div class="col-md-12 col-sm-12">
            <div class="inner_content_block proctor_dashboard_block">
              <div class="paddin_form">
                <div class="row">
                  <div class="col-md-12 col-xl-12 col-lg-12 col-12 col-sm-12">
                    <div class="row">
                      <div class="col-md-12 col-xl-3 col-lg-6 col-12 col-sm-12">
                        <div class="p_dashboard_count complete">
                          <a href="/proctorList"> <img src="assets/images/complete.png" alt="" />
                            <b>{{defaultDashboardEntity.Completed}}</b>
                            <span>{{globals.commonTranslationText.proctorDashboard.completedProctoring}}</span></a>
                        </div>
                      </div>
                      <div class="col-md-12 col-xl-3 col-lg-6 col-12 col-sm-12">
                        <div class="p_dashboard_count pending">
                          <a href="/proctorList"> <img src="assets/images/upcoming.png" alt="" />
                            <b>{{defaultDashboardEntity.Upcoming}}</b>
                            <span>{{globals.commonTranslationText.proctorDashboard.upcomingProctoring}}</span></a>
                        </div>
                      </div>
                      <!-- <div class="col-md-12 col-xl-3 col-lg-6 col-12 col-sm-12">
                        <div class="p_dashboard_count pending">
                          <a href=""> <img src="assets/images/upcoming.png" alt="" />
                            <b>7</b>
                            <span>Upcoming Proctoring</span></a>
                        </div>
                      </div>
                      <div class="col-md-12 col-xl-3 col-lg-6 col-12 col-sm-12">
                        <div class="p_dashboard_count pending">
                          <a href=""> <img src="assets/images/upcoming.png" alt="" />
                            <b>7</b>
                            <span>Upcoming Proctoring</span></a>
                        </div>
                      </div> -->
                    </div>
                    <div class="clearfix"></div>
                    <div class="attendance_block">
                      <div class="col-12">
                        <h5 class="float-left">
                          <b>{{globals.commonTranslationText.proctorDashboard.attendanceSheet.todaysAttendanceSheet}}</b>
                        </h5>
                        <a href="/attendanceSheet"
                          class="full_sheet float-right">{{globals.commonTranslationText.proctorDashboard.attendanceSheet.viewFullSheet}}
                          <i class="fa fa-angle-right"></i></a>
                      </div>

                      <div class="check_box float-right check_list_block">
                        <input type="checkbox" (click)="incompleteAssessment()" name="check_list" id="check_list"
                          value="Check1">
                        <label
                          for="check_list">{{globals.commonTranslationText.proctorDashboard.attendanceSheet.incompleteAssessment}}</label>
                        <div class="clearfix"></div>
                      </div>
                      <div class="clearfix"></div>
                      <!-- <table id="dataTables-example" class="table table-hover attendance_table" style="width:100%">
                        <thead>
                          <tr>
                            <th class="text-center sr_no_width">
                              {{globals.commonTranslationText.proctorDashboard.attendanceSheet.list.srNo}}</th>
                            <th>{{globals.commonTranslationText.proctorDashboard.attendanceSheet.list.candidateName}}
                            </th>
                            <th class="width_15">
                              {{globals.commonTranslationText.proctorDashboard.attendanceSheet.list.email}}</th>
                            <th class="width_15">
                              {{globals.commonTranslationText.proctorDashboard.attendanceSheet.list.phoneNumber}}</th>
                            <th class="width_10">
                              {{globals.commonTranslationText.proctorDashboard.attendanceSheet.list.date}}</th>
                            <th class="width_10">
                              {{globals.commonTranslationText.proctorDashboard.attendanceSheet.list.time}}</th>
                            <th>{{globals.commonTranslationText.proctorDashboard.attendanceSheet.list.certificateName}}
                            </th>
                            <th class="width_10 text-center">
                              {{globals.commonTranslationText.proctorDashboard.attendanceSheet.list.status}}</th>
                            <th class="text-center active_width">
                              {{globals.commonTranslationText.proctorDashboard.attendanceSheet.list.isPresent}}</th>
                            <th class="text-center action_width">
                              {{globals.commonTranslationText.proctorDashboard.attendanceSheet.list.action}}</th>
                          </tr>
                        </thead>
                        <tbody>
                           <tr *ngFor="let attendance of attendanceSheetList;let i=index;">
                            <td class="text-center">{{i+1}}</td>
                            <td>{{attendance.CandidateName}}</td>
                            <td>{{attendance.EmailAddress}}</td>
                            <td>{{attendance.PhoneNumber}}</td>
                            <td>{{attendance.AssignDate | date : 'MM/dd/yyyy'}}</td>
                            <td>{{attendance.StartTime }}-{{attendance.EndTime }}</td>
                            <!--11am-2pm--
                            <td>{{attendance.CertificateName}}</td>
                            <td class="text-center">{{attendance.DisplayText}}</td>
                            <!--Document Verified--
                            <td class="text-center">
                              <div class="activeyes_box" data-toggle="tooltip" data-placement="top" title="Yes">
                                <input type="checkbox"  (change)="ChangePresentStatus(attendance,i)" name="active{{i}}"
                                  id="active{{i}}" value="Yes" [checked]="attendance.ScheduleAssessmentStatus != 39">
                                <label for="active{{i}}"></label>
                              </div>
                            </td>
                            <td class="text-center">
                              <button data-toggle="modal" [disabled]="attendance.ScheduleAssessmentStatus == 39" *ngIf="attendance.ScheduleAssessmentStatus != 44" data-target="#document_verify" type="button" class="edit" (click)="documentVerificationShow(attendance,i)">
                                <i class="fa fa-file-text-o" aria-hidden="true" data-toggle="tooltip"
                                  data-placement="top" title="Document Verification"></i>
                              </button>
                              <button type="button" class="blue_icon" data-toggle="modal" data-target="#FeedbackModal"
                                (click)="finalFeedbackShow(attendance)">
                                <i class="fa fa-comment-o" aria-hidden="true" data-toggle="tooltip" data-placement="top"
                                  title="Your Feedback"></i>
                              </button>
                              <button *ngIf="attendance.ScheduleAssessmentStatus == 43" type="button" class="green_icon" (click)="resumeAssessment(attendance)">
                                <i class="fa fa-play" aria-hidden="true" data-toggle="tooltip" data-placement="top"
                                  title="Resume"></i>
                              </button>
                              <button *ngIf="attendance.ScheduleAssessmentStatus == 41" type="button" data-toggle="modal" data-target="#StopModal"
                                (click)="stopAssessmentShow(attendance)" class="delete">
                                <!--disabled when start time is not coming --
                                <i class="fa fa-ban" aria-hidden="true" data-toggle="tooltip" data-placement="top"
                                  title="Stop"></i>
                              </button>
                            </td>
                          </tr>
                          <tr *ngIf="attendanceSheetList.length<=0">
                            <td colspan="10">
                              {{globals.commonTranslationText.proctorDashboard.attendanceSheet.list.noRecordFound}}</td>
                          </tr> 
                        </tbody>
                      </table> -->

                      <kendo-grid [kendoGridBinding]="attendanceSheetList" kendoGridSelectBy="id"
                        [selectedKeys]="mySelection" [pageSize]="10" [pageable]="true" [groupable]="false"
                        [reorderable]="false" [resizable]="false" [height]="auto" [sortable]="{
                          allowUnsort: true,
                          mode: 'single'
                          }" [sort]="sort">

                        <ng-template kendoGridToolbarTemplate>
                          <input placeholder="Search in all columns..." kendoTextBox
                            (input)="onFilter($event.target.value)" />
                        </ng-template>
                        <kendo-grid-column field="CandidateName"
                          title="{{globals.commonTranslationText.proctorDashboard.attendanceSheet.list.candidateName}}">
                        </kendo-grid-column>
                        <kendo-grid-column field="EmailAddress"
                          title="{{globals.commonTranslationText.proctorDashboard.attendanceSheet.list.email}}">
                        </kendo-grid-column>
                        <kendo-grid-column field="PhoneNumber"
                          title="{{globals.commonTranslationText.proctorDashboard.attendanceSheet.list.phoneNumber}}">
                        </kendo-grid-column>
                        <kendo-grid-column field="AssignDate"
                          title="{{globals.commonTranslationText.proctorDashboard.attendanceSheet.list.date}}">
                          <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                            {{dataItem.AssignDate | date : 'MM/dd/yyyy'}}
                          </ng-template>
                        </kendo-grid-column>
                        <kendo-grid-column field="StartTime"
                          title="{{globals.commonTranslationText.proctorDashboard.attendanceSheet.list.time}}">
                          <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                            {{dataItem.startTime }}-{{dataItem.endTime }}
                          </ng-template>
                        </kendo-grid-column>
                        <kendo-grid-column field="CertificateName"
                          title="{{globals.commonTranslationText.proctorDashboard.attendanceSheet.list.certificateName}}">
                        </kendo-grid-column>
                        <kendo-grid-column field="DisplayText"
                          title="{{globals.commonTranslationText.proctorDashboard.attendanceSheet.list.status}}">
                        </kendo-grid-column>
                        <kendo-grid-column 
                          title="{{globals.commonTranslationText.proctorDashboard.attendanceSheet.list.isPresent}}">
                          <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                            <div class="activeyes_box">
                              <kendo-switch name="active" id="active"
                                (valueChange)="ChangePresentStatus(dataItem,$event)"
                                [checked]="dataItem.ScheduleAssessmentStatus != 39" [checked]="false" [onLabel]="'Y'"
                                [offLabel]="'N'" [disabled]="false"></kendo-switch>
                            </div>
                          </ng-template>
                        </kendo-grid-column>
                        <kendo-grid-column
                          title="{{globals.commonTranslationText.proctorDashboard.attendanceSheet.list.action}}"
                          [width]="150">
                          <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                            <button kendoButton data-toggle="modal" [disabled]="dataItem.ScheduleAssessmentStatus == 39 || !dataItem.assessmentbtndisplay"
                              *ngIf="dataItem.ScheduleAssessmentStatus != 44" data-target="#document_verify"
                              type="button" class="edit" (click)="documentVerificationShow(dataItem)">
                              <i class="fa fa-file-text-o" aria-hidden="true" data-toggle="tooltip" data-placement="top"
                                title="Document Verification"></i>
                            </button>
                            <button kendoButton type="button" class="blue_icon" data-toggle="modal"
                              data-target="#FeedbackModal" (click)="finalFeedbackShow(dataItem)">
                              <i class="fa fa-comment-o" aria-hidden="true" data-toggle="tooltip" data-placement="top"
                                title="Your Feedback"></i>
                            </button>
                            <button kendoButton *ngIf="dataItem.ScheduleAssessmentStatus == 43" type="button"
                              class="green_icon" (click)="resumeAssessment(dataItem)" [disabled]="!dataItem.assessmentbtndisplay">
                              <i class="fa fa-play" aria-hidden="true" data-toggle="tooltip" data-placement="top"
                                title="Resume"></i>
                            </button>
                            <button kendoButton *ngIf="dataItem.ScheduleAssessmentStatus == 41" type="button"
                              data-toggle="modal" data-target="#StopModal" 
                              [disabled]="!dataItem.assessmentbtndisplay" (click)="stopAssessmentShow(dataItem)"
                              class="delete">
                              <!--disabled when start time is not coming -->
                              <i class="fa fa-ban" aria-hidden="true" data-toggle="tooltip" data-placement="top"
                                title="Stop"></i>
                            </button>
                          </ng-template>
                        </kendo-grid-column>

                      </kendo-grid>
                    </div>
                  </div>
                  <div class="col-md-12 col-lg-12 col-12 col-sm-12">
                    <div class="reminder_block">
                      <div class="col-12">
                        <h5><b>Weekly Schedule</b></h5>
                      </div>
                      <div id='calendar'></div>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                  <div class="col-md-12 col-xl-6 col-lg-12 col-12 col-sm-12">
                    <div class="chart_block monthly_proctor">
                      <h5 class="float-left"><b>Monthly Proctoring</b></h5>
                      <select class="show-tick show-menu-arrow float-right" data-width="fit" (change)="getYearlyData($event)">
                        <option *ngFor="let year of yearsList">{{ year }}</option>
                        
                      </select>
                      <div class="clearfix"></div>
                      <nav>
                        <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
                          <a class="nav-item nav-link" [ngClass]="{'active': chartArr.selectedQuarter === 'all'}" id="nav-month-overall-tab"  role="tab" aria-controls="nav-overall"
                            aria-selected="true" (click)="getQuarterData(chartArr.selectedYear, 'all')">Overall</a>
                          <a class="nav-item nav-link" [ngClass]="{'active': chartArr.selectedQuarter === 'firstQuarter'}" id="nav-month-jan-mar-tab"  role="tab" aria-controls="nav-jan-mar"
                            aria-selected="true" (click)="getQuarterData(chartArr.selectedYear, 'firstQuarter')">Jan-Mar</a>
                          <a class="nav-item nav-link" [ngClass]="{'active': chartArr.selectedQuarter === 'secondQuarter'}" id="nav-month-apr-june-tab"  role="tab" aria-controls="nav-month-apr-june"
                            aria-selected="false" (click)="getQuarterData(chartArr.selectedYear, 'secondQuarter')">Apr-Jun</a>
                          <a class="nav-item nav-link" [ngClass]="{'active': chartArr.selectedQuarter === 'thirdQuarter'}" id="nav-month-jul-sept-tab"  role="tab" aria-controls="nav-month-jul-sept"
                            aria-selected="false" (click)="getQuarterData(chartArr.selectedYear, 'thirdQuarter')">Jul-Sept</a>
                          <a class="nav-item nav-link" [ngClass]="{'active': chartArr.selectedQuarter === 'forthQuarter'}" id="nav-month-oct-dec-tab"  role="tab" aria-controls="nav-month-oct-dec"
                            aria-selected="false" (click)="getQuarterData(chartArr.selectedYear, 'forthQuarter')">Oct-Dec</a>
                        </div>
                      </nav>
                      <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-month-jan-mar" role="tabpanel"
                          aria-labelledby="nav-month-jan-mar-tab">
                          <div id="month_proctor" class="height_chart"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12 col-xl-6 col-lg-12 col-12 col-sm-12">
                    <div class="chart_block rejected_proctor">
                      <h5 class="float-left"><b>Rejected/Stopped Proctoring</b></h5>
                      <select class="show-tick show-menu-arrow float-right" data-width="fit">
                        <option *ngFor="let year of yearsList">{{ year }}</option>
                      </select>
                      <div class="clearfix"></div>
                    
                      <nav>
                        <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
                          <a class="nav-item nav-link" id="nav-reject-overall-tab" data-toggle="tab"
                            href="#nav-reject-overall" role="tab" aria-controls="nav-overall"
                            aria-selected="true">Overall</a>
                          <a class="nav-item nav-link active" id="nav-jan-mar-tab" data-toggle="tab"
                            href="#nav-reject-jan-mar" role="tab" aria-controls="nav-reject-jan-mar"
                            aria-selected="true">Jan-Mar</a>
                          <a class="nav-item nav-link" id="nav-reject-apr-june-tab" data-toggle="tab"
                            href="#nav-reject-apr-june" role="tab" aria-controls="nav-reject-apr-june"
                            aria-selected="false">Apr-Jun</a>
                          <a class="nav-item nav-link" id="nav-reject-jul-sept-tab" data-toggle="tab"
                            href="#nav-reject-jul-sept" role="tab" aria-controls="nav-reject-jul-sept"
                            aria-selected="false">Jul-Sept</a>
                          <a class="nav-item nav-link" id="nav-reject-oct-dec-tab" data-toggle="tab"
                            href="#nav-reject-oct-dec" role="tab" aria-controls="nav-reject-oct-dec"
                            aria-selected="false">Oct-Dec</a>
                        </div>
                      </nav>
                      <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-reject-jan-mar" role="tabpanel"
                          aria-labelledby="nav-reject-jan-mar-tab">
                          <div id="reject_stopped_proctor" class="height_chart"></div>
                        </div>
                        <div class="tab-pane fade" id="nav-reject-apr-june" role="tabpanel"
                          aria-labelledby="nav-reject-apr-june-tab">...</div>
                        <div class="tab-pane fade" id="nav-reject-jul-sept" role="tabpanel"
                          aria-labelledby="nav-reject-jul-sept-tab">...</div>
                        <div class="tab-pane fade" id="nav-reject-oct-dec" role="tabpanel"
                          aria-labelledby="nav-reject-oct-dec-tab">...</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="document_verify" tabindex="-1" role="dialog" aria-labelledby="document_verifyLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="document_verifyLabel">
          {{globals.commonTranslationText.proctorDashboard.attendanceSheet.list.documentsVerification.docuentVerificationOf}}
          <b>{{documentVerificationEntity.CandidateName}}</b></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h6>
          {{globals.commonTranslationText.proctorDashboard.attendanceSheet.list.documentsVerification.candidateDetails}}
        </h6>
        <p class="all_detail padding_30">
          <i class="fa fa-envelope"></i>{{documentVerificationEntity.EmailAddress}}<br>
          <i class="fa fa-phone"></i>
          {{documentVerificationEntity.PhoneNumber}}<br>
          <i class="fa fa-map-marker"></i>
          {{documentVerificationEntity.City}}, {{documentVerificationEntity.StateName}}
        </p>
        <div class="clearfix"></div>
        <h6>
          {{globals.commonTranslationText.proctorDashboard.attendanceSheet.list.documentsVerification.certificateDetails}}
          "{{documentVerificationEntity.CertificateName}}"</h6>
        <p class="padding_15">
          <b>{{globals.commonTranslationText.proctorDashboard.attendanceSheet.list.documentsVerification.mandatoryDocuments}}</b>
        </p>
      
        <!-- new document chabnges -->
        <!-- mandatory documents -->
        <div class="uploaded_document_block">
          <div class="row">
            <ng-container *ngFor="let documents of mandatoryDocumentsList;let i=index;">
              <div class="width_doc" *ngIf="documents.flag==0">
                <div title="{{documents.DocumentName}}" class=" document_block new_upload_block" data-toggle="modal"
                  (click)="certificatedocuments(0,1,documents.DocumentId,0)">
                  {{documents.DocumentName.length > 15 ? documents.DocumentName.substring(0,15)+"..." : documents.DocumentName}}
                </div>
              </div>
            </ng-container>
            
            <ng-container *ngFor="let mandatoryDocuments of mandatoryDocumentsList;let i=index;">
              
              <div title="{{mandatoryDocuments.DocumentName}}" class="complete_uploaded_doc_block"
                *ngIf="mandatoryDocuments.Ext == '.pdf' || mandatoryDocuments.Ext == '.PDF'">
                <a href="{{globals.baseAPIUrl+mandatoryDocuments.DocumentUrl+documentVerificationEntity.UserId}}/assessment/Documents/{{mandatoryDocuments.CertificateDocumentName}}"
                  target="_blank"><img alt="" class="img-fluid" src="assets/images/pdf.png"></a>
                <button id="adddoc_img"
                  (click)="certificatedocuments(mandatoryDocuments,1,mandatoryDocuments.DocumentId,1)">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                </button>
                <button id="deletedoc_img"
                  (click)="deleteDocument(mandatoryDocuments,1)">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </button>

                <label *ngIf="mandatoryDocuments.Ext == '.pdf' || mandatoryDocuments.Ext == '.PDF'">Verified?</label>
                <div *ngIf="mandatoryDocuments.Ext == '.pdf' || mandatoryDocuments.Ext == '.PDF'" class="activeyes_box" data-toggle="tooltip" data-placement="top"
                  [attr.title]="mandatoryDocuments.IsVerifyByProctor==1?'Yes':'No'">
                    <kendo-switch (valueChange)="mandatoryDocumentsStatusChange(mandatoryDocuments,$event)"
                    [checked]="mandatoryDocuments.IsVerifyByProctor==1" name="docactive" id="docactive{{i}}"
                    [onLabel]="'Y'" [offLabel]="'N'"></kendo-switch>
                </div>
              </div>
            </ng-container>
            <ng-container *ngFor="let mandatoryDocuments of mandatoryDocumentsList;let i=index;">
              
              <div title="{{mandatoryDocuments.DocumentName}}" class="complete_uploaded_doc_block"
                *ngIf="mandatoryDocuments.Ext == '.jpg' || mandatoryDocuments.Ext == '.jpeg' || mandatoryDocuments.Ext == '.png' || mandatoryDocuments.Ext == '.JPG' || mandatoryDocuments.Ext == '.JPEG' || mandatoryDocuments.Ext == '.PNG'">
                <a target="_blank" href="{{globals.baseAPIUrl+mandatoryDocuments.DocumentUrl+documentVerificationEntity.UserId}}/assessment/Documents/{{mandatoryDocuments.CertificateDocumentName}}"><img
                    src="{{globals.baseAPIUrl+mandatoryDocuments.DocumentUrl+documentVerificationEntity.UserId}}/assessment/Documents/{{mandatoryDocuments.CertificateDocumentName}}"
                    alt="" class="img-fluid" /></a>
                <button id="adddoc_img"
                  (click)="certificatedocuments(mandatoryDocuments,1,mandatoryDocuments.DocumentId,1)">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                </button>
                <button id="deletedoc_img"
                  (click)="deleteDocument(mandatoryDocuments,1)">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </button>

                <label *ngIf="mandatoryDocuments.Ext == '.jpg' || mandatoryDocuments.Ext == '.jpeg' || mandatoryDocuments.Ext == '.png' || mandatoryDocuments.Ext == '.JPG' || mandatoryDocuments.Ext == '.JPEG' || mandatoryDocuments.Ext == '.PNG'">Verified?</label>
                <div *ngIf="mandatoryDocuments.Ext == '.jpg' || mandatoryDocuments.Ext == '.jpeg' || mandatoryDocuments.Ext == '.png' || mandatoryDocuments.Ext == '.JPG' || mandatoryDocuments.Ext == '.JPEG' || mandatoryDocuments.Ext == '.PNG'" class="activeyes_box" data-toggle="tooltip" data-placement="top"
                  [attr.title]="mandatoryDocuments.IsVerifyByProctor==1?'Yes':'No'">
                  <kendo-switch (valueChange)="mandatoryDocumentsStatusChange(mandatoryDocuments,$event)"
                    [checked]="mandatoryDocuments.IsVerifyByProctor==1" name="docactive" id="docactive{{i}}"
                    [onLabel]="'Y'" [offLabel]="'N'"></kendo-switch>
                </div>
              </div>
            </ng-container>
          </div>
          <div class="notice notice-danger" *ngIf="mandatoryDocumentsList.length<=0">
            {{globals.commonTranslationText.certificateDetailPage.documents.noAnyMandarotyDocuments}}
          </div>
        </div>
        <div class="clearfix"></div>
        <p class="padding_15">
          <b>{{globals.commonTranslationText.proctorDashboard.attendanceSheet.list.documentsVerification.optionalDocuments}}</b>
        </p>
        <div class="uploaded_document_block">
          <div class="row">
            <ng-container *ngFor="let documents of optionalDocumentsList;let i=index;">
              <div class="width_doc" *ngIf="documents.flag==0">
                <div title="{{documents.DocumentName}}" class=" document_block new_upload_block" data-toggle="modal"
                  (click)="certificatedocuments(0,0,documents.DocumentId,0)">
                  {{documents.DocumentName.length > 15 ? documents.DocumentName.substring(0,15)+"..." : documents.DocumentName}}
                </div>
              </div>
            </ng-container>
            <ng-container *ngFor="let optionalDocuments of optionalDocumentsList;let i = index;">
              <div title="{{optionalDocuments.DocumentName}}" class="complete_uploaded_doc_block"
                *ngIf="optionalDocuments.Ext == '.pdf' || optionalDocuments.Ext == '.PDF'">
                <a href="{{globals.baseAPIUrl+optionalDocuments.DocumentUrl+documentVerificationEntity.UserId}}/assessment/Documents/{{optionalDocuments.CertificateDocumentName}}"
                  target="_blank">
                  <img src="assets/images/pdf.png" alt="" class="img-fluid" /></a>
                <button id="adddoc_img"
                  (click)="certificatedocuments(optionalDocuments,0,optionalDocuments.DocumentId,1)">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                </button>
                <button id="deletedoc_img"
                  (click)="deleteDocument(optionalDocuments,0)">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </button>

                <label *ngIf="optionalDocuments.Ext == '.pdf' || optionalDocuments.Ext == '.PDF'">Verified?</label>
                <div *ngIf="optionalDocuments.Ext == '.pdf' || optionalDocuments.Ext == '.PDF'" class="activeyes_box" data-toggle="tooltip" data-placement="top"
                  [attr.title]="optionalDocuments.IsVerifyByProctor==1?'Yes':'No'">
              
                  <kendo-switch (valueChange)="optionalDocumentsStatusChange(optionalDocuments,$event)"
                    [checked]="optionalDocuments.IsVerifyByProctor==1" name="docoptionalactive"
                    id="docoptionalactive{{i}}" [onLabel]="'Y'" [offLabel]="'N'"></kendo-switch>
                </div>
              </div>
            </ng-container>
            <ng-container *ngFor="let optionalDocuments of optionalDocumentsList;let i = index;">
              <div title="{{optionalDocuments.DocumentName}}" class="complete_uploaded_doc_block"
                *ngIf="optionalDocuments.Ext == '.jpg' || optionalDocuments.Ext == '.jpeg' || optionalDocuments.Ext == '.png' || optionalDocuments.Ext == '.JPG' || optionalDocuments.Ext == '.JPEG' || optionalDocuments.Ext == '.PNG'">
                <a target="_blank" href="{{globals.baseAPIUrl+optionalDocuments.DocumentUrl+documentVerificationEntity.UserId}}/assessment/Documents/{{optionalDocuments.CertificateDocumentName}}">
                  <img src="{{globals.baseAPIUrl+optionalDocuments.DocumentUrl+documentVerificationEntity.UserId}}/assessment/Documents/{{optionalDocuments.CertificateDocumentName}}"
                    alt="" class="img-fluid" />
                </a>
                <button id="adddoc_img"
                  (click)="certificatedocuments(optionalDocuments,0,optionalDocuments.DocumentId,1)">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                </button>
                <button id="deletedoc_img"
                  (click)="deleteDocument(optionalDocuments,0)">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </button>

                <label *ngIf="optionalDocuments.Ext == '.jpg' || optionalDocuments.Ext == '.jpeg' || optionalDocuments.Ext == '.png' || optionalDocuments.Ext == '.JPG' || optionalDocuments.Ext == '.JPEG' || optionalDocuments.Ext == '.PNG'">Verified?</label>
                <div *ngIf="optionalDocuments.Ext == '.jpg' || optionalDocuments.Ext == '.jpeg' || optionalDocuments.Ext == '.png' || optionalDocuments.Ext == '.JPG' || optionalDocuments.Ext == '.JPEG' || optionalDocuments.Ext == '.PNG'" class="activeyes_box" data-toggle="tooltip" data-placement="top"
                  [attr.title]="optionalDocuments.IsVerifyByProctor==1?'Yes':'No'">
                  <kendo-switch (valueChange)="optionalDocumentsStatusChange(optionalDocuments,$event)"
                    [checked]="optionalDocuments.IsVerifyByProctor==1" name="docoptionalactive"
                    id="docoptionalactive{{i}}" [onLabel]="'Y'" [offLabel]="'N'"></kendo-switch>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
        <div class="notice notice-danger" *ngIf="optionalDocumentsList.length<=0">
          {{globals.commonTranslationText.certificateDetailPage.documents.noAnyOptionalDocuments}}
        </div>
     
        <h6><span class="red_text">*</span> Comments</h6>
        <div class="form-group">
          <textarea kendoTextArea id="DocumentVerificationComment" name="DocumentVerificationComment"
            #DocumentVerificationComment="ngModel" [(ngModel)]="documentVerificationEntity.DocumentVerificationComment"
            [ngClass]="{error: (commentDisplay) || errorEntity.DocumentVerificationComment}" class="form-control" (keyup)="commentDisplay=false"></textarea>
          <span class="error_class" *ngIf="(commentDisplay) || errorEntity.DocumentVerificationComment">
            <span *ngIf="commentDisplay">
              {{globals.adminTranslationText.manageRegisterRequest.userCertificateDetails.required}}
            </span>
            <span *ngIf="errorEntity.DocumentVerificationComment != ''">
              {{  errorEntity.DocumentVerificationComment}}
            </span>
           
          </span>
        </div>
      </div>
      <div class="modal-footer" *ngIf="documentVerificationEntity.ScheduleAssessmentStatus == 40">
        <button class="all_btn theme_btn" (click)="DocumentVerificationStatus(1)">Accept</button>
        <button class="all_btn red_btn" (click)="DocumentVerificationStatus(0)">Decline</button>
      </div>
      <div class="modal-footer" *ngIf="documentVerificationEntity.ScheduleAssessmentStatus == 41"><!--Document accepted status 41-->
        <button class="all_btn red_btn" (click)="DocumentVerificationStatus(0)">Decline</button>
      </div>
      <div class="modal-footer" *ngIf="documentVerificationEntity.ScheduleAssessmentStatus == 42"><!--Document rejected status 41-->
        <button class="all_btn theme_btn" (click)="DocumentVerificationStatus(1)">Accept</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade certificate_old_doc_block"  data-backdrop="static" data-keyboard="false" id="uploaddocumentModal" tabindex="-1" role="dialog"
      aria-labelledby="certificateModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="certificateModalLabel">Upload Documents for
              {{documentVerificationEntity.CertificateName}}
            </h5>
            <button type="button" (click)="documentClose()" class="close" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form role="form" #CertificatedocumentForm="ngForm" (ngSubmit)="certidocumentSubmit(CertificatedocumentForm)">
            <div class="modal-body">
              <div class="row">
                <div class="width_doc upload_new_doc">
                  <input type="file" id="new_upload_file" #CertificateName="ngModel" name="CertificateName"
                    [(ngModel)]="certificatedocumentEntity.CertificateName"
                    (change)="fileTypeCheck(certificatedocumentEntity.CertificateName,certificatedocumentEntity.CertiDocumentId)">
                  <!--(change)="fileTypeCheck(this.value)"-->
                  <div class="new_block">
                    Upload New
                  </div>
                  <div class="uploaded_doc_block">
                    <img src="" for="new_upload_file" id="uploaded_doc" />
                    <i class="fa fa-trash" id="deletedoc_img" aria-hidden="true" (click)="Removeimage()"></i>
                  </div>
                </div>
                <div class="or_block"><span>OR</span></div>
                <div class="width_doc" *ngFor="let Image of certificateimage; let i = index;">
                  <div class="img_block" data-toggle="tooltip" data-placement="top" title="Aadhar Card Aadhar Card">

                    <a href="{{globals.baseAPIUrl+Image.DocumentUrl+globals.authData.UserId}}/assessment/Documents/{{Image.CertificateDocumentName}}"
                      target="_blank"><img alt="" class="img-fluid" src="assets/images/pdf.png"></a>
                    <span>{{Image.DocumentName}}</span>
                  </div>
                  <div class="check_box">
                    <input type="checkbox" name="document_select" (click)="imageclick(Image,i)"
                      id="document_select1{{i}}">
                    <label for="document_select1{{i}}"></label>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="all_btn theme_btn">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>

<div class="modal fade" id="calendar_modal" tabindex="-1" role="dialog" aria-labelledby="calendar_modalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="calendar_modalLabel">Assessment Details for <b id="modalTitle"></b></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="modalBody" class="modal-body"></div>
    </div>
  </div>
</div>

<div class="modal fade" id="FeedbackModal" tabindex="-1" role="dialog" aria-labelledby="FeedbackModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          {{globals.commonTranslationText.proctorDashboard.attendanceSheet.list.finalFeedback.feedbackFor}}
          <b>{{finalFeedbackEntity.CandidateName}}</b></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="finalFeedback" role="form" #finalFeedbackForm="ngForm"
        (ngSubmit)="finalFeedbackSubmit(finalFeedbackForm)">
        <div class="modal-body">
          <div class="form-group">
            <label><span>*</span>
              {{globals.commonTranslationText.proctorDashboard.attendanceSheet.list.finalFeedback.comments}}</label>
            <textarea kendoTextArea id="ProctorFeedbackComment" name="ProctorFeedbackComment"
              #ProctorFeedbackComment="ngModel" [(ngModel)]="finalFeedbackEntity.ProctorFeedbackComment"
              [ngClass]="{error: (ProctorFeedbackComment.dirty && ProctorFeedbackComment.invalid) || (ProctorFeedbackComment.pristine && submitted1) || errorEntity.feedbackMessage}"
              class="form-control" required></textarea>
            <span class="error_class"
              *ngIf="(ProctorFeedbackComment.dirty && ProctorFeedbackComment.invalid) || (ProctorFeedbackComment.pristine && submitted1) || errorEntity.feedbackMessage">
              <span *ngIf="ProctorFeedbackComment.errors && ProctorFeedbackComment.errors.required">
                {{globals.commonTranslationText.proctorDashboard.attendanceSheet.list.finalFeedback.required}}
              </span>
              <span *ngIf="errorEntity.feedbackMessage != ''">
                 {{ errorEntity.feedbackMessage }}
              </span>
            </span>
          </div>
        </div>
        <div class="modal-footer">
          <button class="all_btn theme_btn float-right" type="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal fade" id="StopModal" tabindex="-1" role="dialog" aria-labelledby="StopModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          {{globals.commonTranslationText.proctorDashboard.attendanceSheet.list.stopAssessment.stopAssessmentFor}}
          <b>{{stopAssessmentEntity.CandidateName}}</b></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="stopAssessment" role="form" #stopAssessmentForm="ngForm"
        (ngSubmit)="stopAssessmentSubmit(stopAssessmentForm)">
        <div class="modal-body">
          <div class="form-group">
            <label><span>*</span>
              {{globals.commonTranslationText.proctorDashboard.attendanceSheet.list.stopAssessment.comments}}</label>

            <textarea kendoTextArea id="StopAssessmentComment" name="StopAssessmentComment"
              #StopAssessmentComment="ngModel" [(ngModel)]="stopAssessmentEntity.StopAssessmentComment"
              [ngClass]="{error: (StopAssessmentComment.dirty && StopAssessmentComment.invalid) || (StopAssessmentComment.pristine && submitted2)|| errorEntity.StopAssessmentComment}"
              class="form-control" required></textarea>
            <span class="error_class"
              *ngIf="(StopAssessmentComment.dirty && StopAssessmentComment.invalid) || (StopAssessmentComment.pristine && submitted2) || errorEntity.StopAssessmentComment">
              <span *ngIf="StopAssessmentComment.errors && StopAssessmentComment.errors.required">
                {{globals.commonTranslationText.proctorDashboard.attendanceSheet.list.stopAssessment.required}}
              </span>
              <span *ngIf="errorEntity.StopAssessmentComment != ''">
                {{errorEntity.StopAssessmentComment}}
              </span>
            </span>
          </div>
        </div>
        <div class="modal-footer">
          <span class="float-left text-right">Are you sure you want to stop this assessment?</span>
          <button class="all_btn theme_btn float-right">Yes</button>
          <button class="all_btn red_btn float-right" type="button" data-dismiss="modal">No</button>
        </div>
      </form>
    </div>
  </div>
</div>