<div class="container-fluid login_register_bg">
    <div class="loginregister_white_block">
      <div class="row justify-content-around">
        <div class="col-12 col-xl-7 col-lg-9 col-md-12 col-sm-12">
          <div class="white_login_block">
            <div class="row justify-center">
              <div class="col-12 col-xl-5 col-lg-5 col-md-12 col-sm-12">
                <div class="login_logo_block">
                    <div class="logo_center">
                        <a routerLink="/login">
                          <img src="assets/images/logo.png" class="img-fluid" alt="">
                        </a>
                        <h1>{{globals.commonTranslationText.header.title}}</h1>
                        <p class="padding_15">{{globals.commonTranslationText.header.contactUs.label}}<a routerLink="/inquire">{{globals.commonTranslationText.header.contactUs.linkText}}</a></p>
                        <p><a routerLink="/privacyPolicy">Privacy Policy</a>  |  <a routerLink="/cookiePolicy">Cookie Policy</a>  |  <a routerLink="/termconditions">Terms of use</a></p>
                      </div>
                </div>
              </div>
              <div class="col-12 col-xl-7 col-lg-7 col-md-12 col-sm-12">
                <div class="padding_login_block">
                  <h3>{{globals.commonTranslationText.forgotPasswordPage.title}}</h3>
                  <p class="padding_15">{{globals.commonTranslationText.forgotPasswordPage.subTitle}}</p>
                  <div class="clearfix"></div>
                  <form #forgotPasswordForm="ngForm" (ngSubmit)="requestResetPassword(forgotPasswordForm)">
                    <div class="form-group">
                      <label><span>*</span> {{globals.commonTranslationText.forgotPasswordPage.form.emailAddress.label}} </label>
                      <input type="email" class="form-control" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
                      #EmailAddress="ngModel" [(ngModel)]="forgotPasswordEntity.EmailAddress" name="EmailAddress" maxlength="100"
                      [ngClass]="{error: (EmailAddress.dirty && EmailAddress.invalid) || (EmailAddress.pristine && submitted)}"
                      required />
                      <span  class="error_class"
                      *ngIf="(EmailAddress.dirty && EmailAddress.invalid) || (EmailAddress.pristine && submitted)">
                      <span *ngIf="EmailAddress.errors && EmailAddress.errors.required">
                        {{globals.commonTranslationText.forgotPasswordPage.form.emailAddress.required}}
                      </span>
                      <span *ngIf="EmailAddress.errors && EmailAddress.errors.pattern">
                        {{globals.commonTranslationText.forgotPasswordPage.form.emailAddress.pattern}}
                      </span>
                    </span>
                    <span class="error_class">
                      <span>{{ errorEntity.email }}</span>
                    </span>
                    </div>
                    <div class="clearfix"></div>
                    <div class="login_button_block pt-0">
                      <button type="submit" class="all_btn theme_btn float-right">{{globals.commonTranslationText.forgotPasswordPage.buttons.submit}}</button>
                      <a routerLink="/login" class="float-left">{{globals.commonTranslationText.forgotPasswordPage.buttons.signInPage}}</a>
                      <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
