<div class="content_block">
  <div class="container-fluid">
    <div class="row">
      <!-- Content -->
      <div class="col-md-12 col-sm-12">
        <div class="title_block">
          <h2 class="float-left">{{globals.adminTranslationText.adminDashboard.title}}</h2>
          <div class="breadcrumb_block float-left">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a>
                  <i class="fa fa-home"></i>
                </a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                {{globals.adminTranslationText.adminDashboard.breadcrumbTitle}}</li>
            </ol>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="row d-flex justify-content-center">
          <div class="col-md-12 col-sm-12">
            <div class="admin_dashboard_block">
              <div class="dashboard_count_block">
                <div class="row">
                  <div class="col-md-12 col-xl-3 col-lg-6 col-12 col-sm-12">
                    <div class="a_dashboard_count">
                      <a href="/admin/userHistory"> <img src="assets/images/payment.png" alt="" />
                        <span class="right_b"><b class="title">{{globals.adminTranslationText.adminDashboard.Payment}}</b>
                          <span class="three_divide plus_b">
                            {{globals.adminTranslationText.adminDashboard.Proctor}}
                            <b>${{dashboardEntity.withProctorAmount}}</b>
                          </span>
                          <span class="three_divide equal_b">
                            {{globals.adminTranslationText.adminDashboard.withoutProctor}}
                            <b>${{dashboardEntity.withoutProctorAmount}}</b>
                          </span>
                          <span class="three_divide total_b">
                            {{globals.adminTranslationText.adminDashboard.total}}
                            <b>${{dashboardEntity.totalAmount}}</b>
                          </span>
                        </span>
                        <div class="clearfix"></div>
                      </a>
                    </div>
                  </div>
                  <div class="col-md-12 col-xl-3 col-lg-6 col-12 col-sm-12">
                    <div class="a_dashboard_count">
                      <a href="/admin/assessment-list"> <img src="assets/images/assessment.png" alt="" />
                        <span class="right_b"><b class="title">{{globals.adminTranslationText.adminDashboard.Assessment}}</b>
                          <span class="three_divide plus_b">
                            {{globals.adminTranslationText.adminDashboard.Proctor}}
                            <b>{{dashboardEntity.withProctorAssessment}}</b>
                          </span>
                          <span class="three_divide equal_b">
                            {{globals.adminTranslationText.adminDashboard.withoutProctor}}
                            <b>{{dashboardEntity.withoutProctorAssessment}}</b>
                          </span>
                          <span class="three_divide total_b">
                            {{globals.adminTranslationText.adminDashboard.total}}
                            <b>{{dashboardEntity.totalAssessment}}</b>
                          </span>
                        </span>
                        <div class="clearfix"></div>
                      </a>
                    </div>
                  </div>
                  <div class="col-md-12 col-xl-3 col-lg-6 col-12 col-sm-12">
                    <div class="a_dashboard_count">
                      <a href="/admin/manage-register-request"> <img src="assets/images/user.png" alt="" />
                        <span class="right_b"><b class="title">{{globals.adminTranslationText.adminDashboard.Users}}</b>
                          <span class="three_divide total_b">
                            {{globals.adminTranslationText.adminDashboard.total}}
                            <b>{{dashboardEntity.totalUsers}}</b>
                          </span>
                        </span>
                        <div class="clearfix"></div>
                      </a>
                    </div>
                  </div>
                  <div class="col-md-12 col-xl-3 col-lg-6 col-12 col-sm-12">
                    <div class="a_dashboard_count">
                      <a href="/admin/certificate/list"> <img src="assets/images/certificate.png" alt="" />
                        <span class="right_b"><b class="title">{{globals.adminTranslationText.adminDashboard.Certificate}}</b>
                          <span class="three_divide total_b">
                            {{globals.adminTranslationText.adminDashboard.total}}
                            <b>{{dashboardEntity.totalCertificates}}</b>
                          </span>
                        </span>
                        <div class="clearfix"></div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="proctor_main_block">
                <div class="proctor_title_block">
                  Proctoring Certification Details
                </div>
                <div class="clearfix"></div>
                <h5><b>To Do List</b></h5>
                <div class="row">
                  <div class="col-md-12 col-xl-6 col-lg-12 col-12 col-sm-12">
                    <div class="assign_document_block height_assign_doc">
                      <div class="padding_title">
                        <h6 class="float-left">{{globals.adminTranslationText.adminDashboard.assignProctor.title}}</h6>
                        <a href="/admin/assessment-list" class="float-right">View All</a>
                      </div>
                      <div class="clearfix"></div>
                      <kendo-grid [kendoGridBinding]="dashboardEntity.assignData" [pageSize]="5" [pageable]="false" [groupable]="false"
                        [reorderable]="false" [resizable]="false" [sortable]="{
                          allowUnsort: true,
                          mode: 'single'
                          }" [sort]="sort">
                        <kendo-grid-column field="UserName"
                          title="{{globals.adminTranslationText.adminDashboard.assignProctor.candidateName}}">
                        </kendo-grid-column>
                        <kendo-grid-column field="CertificateName"
                          title="{{globals.adminTranslationText.adminDashboard.assignProctor.certificateName}}">
                        </kendo-grid-column>
                        <kendo-grid-column field="AvailablePriorityDate1"
                          title="{{globals.adminTranslationText.adminDashboard.assignProctor.preferedDates}}">
                          <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                            {{dataItem.AvailablePriorityDate1 | date:'MM/dd/yyyy'}},{{dataItem.AvailablePriorityDate2 | date:'MM/dd/yyyy'}},{{dataItem.AvailablePriorityDate3 | date:'MM/dd/yyyy'}}
                          </ng-template>
                        </kendo-grid-column>
                        <kendo-grid-column field="Address1"
                          title="{{globals.adminTranslationText.adminDashboard.assignProctor.location}}">
                          <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                            {{dataItem.Address1}},{{dataItem.Address2}},{{dataItem.City}}
                          </ng-template>
                        </kendo-grid-column>
                        <kendo-grid-column title="{{globals.adminTranslationText.adminDashboard.action}}" [width]="100">
                          <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                            <button kendoButton (click)="assignAssessment(dataItem.ScheduleAssessmentHistoryId)"
                              type="button" class="edit">
                              <i class="fa fa-tasks" aria-hidden="true" data-toggle="tooltip" data-placement="top"
                                title="Assign Proctor"></i>
                            </button>
                          </ng-template>
                        </kendo-grid-column>
                      </kendo-grid>
                    </div>
                  </div>

                  <div class="col-md-12 col-xl-6 col-lg-12 col-12 col-sm-12">
                    <div class="assign_document_block height_assign_doc">
                      <div class="padding_title">
                        <h6 class="float-left">{{globals.adminTranslationText.adminDashboard.documentVerification.title}}</h6>
                        <a href="/admin/userPendingVerification" class="float-right">View All</a>
                      </div>
                      <div class="clearfix"></div>
                      <kendo-grid [kendoGridBinding]="dashboardEntity.pendingVerificationRequest" [pageSize]="5" [pageable]="false" [groupable]="false"
                      [reorderable]="false" [resizable]="false" [sortable]="{
                        allowUnsort: true,
                        mode: 'single'
                        }" [sort]="sort">
                      <kendo-grid-column field="Name"
                        title="{{globals.adminTranslationText.adminDashboard.documentVerification.candidateName}}">
                      </kendo-grid-column>
                      <kendo-grid-column field="CertificateName"
                        title="{{globals.adminTranslationText.adminDashboard.documentVerification.certificateName}}">
                      </kendo-grid-column>
                      <kendo-grid-column field="RoleName"
                        title="{{globals.adminTranslationText.adminDashboard.documentVerification.role}}">
                      </kendo-grid-column>
                      <kendo-grid-column
                        title="{{globals.adminTranslationText.adminDashboard.action}}"
                        [width]="100">
                        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                          <button kendoButton (click)="userCertificateDetail(dataItem.UserId)"
                            type="button" class="edit">
                            <i class="fa fa-tasks"  aria-hidden="true" data-toggle="tooltip" data-placement="top"
                              title="Verification"></i>
                          </button>
                        </ng-template>
                      </kendo-grid-column>
                    </kendo-grid>
                    </div>
                  </div>
                </div>
                <div class="exam_today_block">
                  <div class="padding_title">
                    <h5 class="float-left"><b>{{globals.adminTranslationText.adminDashboard.todaysExamination.title}}</b></h5>
                    <a href="/admin/examinationSheet" class="float-right">View All</a>
                  </div>
                  <div class="clearfix"></div>
                      <kendo-grid [kendoGridBinding]="dashboardEntity.todaysExamination" [pageSize]="10" [pageable]="false" [groupable]="false"
                      [reorderable]="false" [resizable]="false" [sortable]="{
                        allowUnsort: true,
                        mode: 'single'
                        }" [sort]="sort">
                        <ng-template kendoGridToolbarTemplate>
                          <input placeholder="Search in all columns..." kendoTextBox
                            (input)="onFilter($event.target.value)" />
                        </ng-template>
                      <kendo-grid-column field="CountryName"
                        title="{{globals.adminTranslationText.adminDashboard.todaysExamination.country}}">
                      </kendo-grid-column>
                      <kendo-grid-column field="StateName"
                        title="{{globals.adminTranslationText.adminDashboard.todaysExamination.state}}">
                      </kendo-grid-column>
                      <kendo-grid-column field="City"
                        title="{{globals.adminTranslationText.adminDashboard.todaysExamination.city}}">
                      </kendo-grid-column>
                      <kendo-grid-column field="Address1"
                        title="{{globals.adminTranslationText.adminDashboard.todaysExamination.location}}">
                        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                          {{dataItem.Address1}},{{dataItem.Address2}}
                        </ng-template>
                      </kendo-grid-column>
                      <kendo-grid-column field="StartTime"
                        title="{{globals.adminTranslationText.adminDashboard.todaysExamination.time}}">
                        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                          {{dataItem.startTime}}-{{dataItem.endTime}}
                        </ng-template>
                      </kendo-grid-column>
                      <kendo-grid-column field="ProctorName"
                      title="{{globals.adminTranslationText.adminDashboard.todaysExamination.proctorName}}">
                    </kendo-grid-column>
                    <kendo-grid-column field="PhoneNumber"
                        title="{{globals.adminTranslationText.adminDashboard.todaysExamination.phone}}">
                      </kendo-grid-column>
                      <kendo-grid-column field="candidates"
                      title="{{globals.adminTranslationText.adminDashboard.todaysExamination.numberOfCandidates}}">
                    </kendo-grid-column>
                     
                    </kendo-grid>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="proctor_main_block">
                <div class="proctor_title_block">
                   <div class="check_box float-left">
                      <input type="checkbox" name="show_data" id="show_data" value="Check1" (click)="showWithoutProctoringDetails()">
                      <label for="show_data">{{globals.adminTranslationText.adminDashboard.showWithoutProctoringCertificationDetails}}</label>
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                  <div class="col-md-12 col-xl-6 col-lg-12 col-12 col-sm-12">
                    <div class="assign_document_block height_payment_user">
                      <div class="padding_title">
                        <h5 class="float-left"><b>{{globals.adminTranslationText.adminDashboard.latest5Users.title}}</b></h5>
                        <a href="admin/manage-register-request" class="float-right">View All</a>
                      </div>
                      <div class="clearfix"></div>
                      <kendo-grid [kendoGridBinding]="RegisteredUsersList" [pageSize]="5" [pageable]="false" [groupable]="false"
                      [reorderable]="false" [resizable]="false" [sortable]="{
                        allowUnsort: true,
                        mode: 'single'
                        }" [sort]="sort">
                      <kendo-grid-column field="FirstName"
                        title="{{globals.adminTranslationText.adminDashboard.latest5Users.name}}">
                        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                            {{dataItem.FirstName}} {{dataItem.LastName}}
                          </ng-template>
                      </kendo-grid-column>
                      <kendo-grid-column field="EmailAddress"
                        title="{{globals.adminTranslationText.adminDashboard.latest5Users.email}}">
                      </kendo-grid-column>
                      <kendo-grid-column field="PhoneNumber"
                        title="{{globals.adminTranslationText.adminDashboard.latest5Users.phone}}">
                      </kendo-grid-column>
                      <kendo-grid-column field="RoleName"
                        title="{{globals.adminTranslationText.adminDashboard.latest5Users.role}}">
                      </kendo-grid-column>
                      <kendo-grid-column
                        title="{{globals.adminTranslationText.adminDashboard.action}}"
                        [width]="150">
                        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                          <button kendoButton class="edit" type="button" *ngIf="dataItem.RoleId == 3 || dataItem.RoleId == 2"
                            (click)="userCertificateDetail(dataItem.UserId)">
                            <i class="fa fa-eye" aria-hidden="true" data-toggle="tooltip" data-placement="top"
                              title="View"></i></button>
                          <button kendoButton class="blue_icon" type="button" *ngIf="dataItem.RoleId == 3"
                            (click)="userOrderHistory(dataItem.UserId)">
                            <i class="fa fa-history" aria-hidden="true" data-toggle="tooltip" data-placement="top"
                              title="Order History"></i></button>
                          <button kendoButton class="blue_icon" type="button" *ngIf="dataItem.RoleId == 2"
                            (click)="dashboard(dataItem.UserId)">
                            <i class="fa fa-tachometer" aria-hidden="true" data-toggle="tooltip" data-placement="top"
                              title="Dashboard"></i></button>
                          <button kendoButton class="delete" type="button"  *ngIf="dataItem.RoleId != 1 && dataItem.IsBan == 0"
                            (click)="userBan(dataItem)"> 
                            <i class="fa fa-ban" aria-hidden="true" data-toggle="tooltip"
                              data-placement="top" title="Ban"></i>
                          </button>
                          <button kendoButton class="green_icon" *ngIf="dataItem.RoleId != 1 && dataItem.IsBan == 1"
                            (click)="userActive(dataItem)"><i class="fa fa-user-plus" aria-hidden="true"
                              data-toggle="tooltip" data-placement="top" title="Activate"></i>
                          </button>
                        </ng-template>
                      </kendo-grid-column>
                    </kendo-grid>
                    </div>
                  </div>
                  <div class="col-md-12 col-xl-6 col-lg-12 col-12 col-sm-12">
                    <div class="chart_block height_payment_user">
                      <h5 class="float-left"><b>Payment</b></h5>
                      <select class="show-tick show-menu-arrow float-right" data-width="fit"  (change)="getpaymentYearlyData($event)">
                        <option *ngFor="let paymentyear1 of paymentyearList">{{ paymentyear1 }}</option>
                      </select>
                      <div class="clearfix"></div>
                      <nav>
                        <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
                          <a class="nav-item nav-link" [ngClass]="{'active': paymentChartArr.selectedPaymentQuarter === 'all'}"
                            id="nav-month-overall-tab" data-toggle="tab"
                            role="tab" aria-controls="nav-overall" (click)="getpaymentQuarterData(paymentChartArr.selectedPaymentYear, 'all')"
                            aria-selected="true">Overall</a>
                          <a class="nav-item nav-link" [ngClass]="{'active': paymentChartArr.selectedPaymentQuarter === 'firstQuarter'}"
                            id="nav-month-jan-mar-tab" data-toggle="tab"
                            role="tab" aria-controls="nav-jan-mar" (click)="getpaymentQuarterData(paymentChartArr.selectedPaymentYear, 'firstQuarter')"
                            aria-selected="true">Jan-Mar</a>
                          <a class="nav-item nav-link"  [ngClass]="{'active': paymentChartArr.selectedPaymentQuarter === 'secondQuarter'}"
                            id="nav-month-apr-june-tab" data-toggle="tab"
                            role="tab" aria-controls="nav-month-apr-june" (click)="getpaymentQuarterData(paymentChartArr.selectedPaymentYear, 'secondQuarter')"
                            aria-selected="false">Apr-Jun</a>
                          <a class="nav-item nav-link"  [ngClass]="{'active': paymentChartArr.selectedPaymentQuarter === 'thirdQuarter'}"
                            id="nav-month-jul-sept-tab" data-toggle="tab"
                            role="tab" aria-controls="nav-month-jul-sept" (click)="getpaymentQuarterData(paymentChartArr.selectedPaymentYear, 'thirdQuarter')"
                            aria-selected="false">Jul-Sept</a>
                          <a class="nav-item nav-link"  [ngClass]="{'active': paymentChartArr.selectedPaymentQuarter === 'forthQuarter'}"
                            id="nav-month-oct-dec-tab" data-toggle="tab"
                            role="tab" aria-controls="nav-month-oct-dec" (click)="getpaymentQuarterData(paymentChartArr.selectedPaymentYear, 'forthQuarter')"
                            aria-selected="false">Oct-Dec</a>
                        </div>
                      </nav>
                      <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-month-jan-mar" role="tabpanel"
                          aria-labelledby="nav-month-jan-mar-tab">
                          <div id="payment_proctor_chart" class="height_chart"></div>
                          <!-- <a href="admin/paymentReport"></a> -->
                        </div>
                        <div class="tab-pane fade" id="nav-month-apr-june" role="tabpanel"
                          aria-labelledby="nav-month-apr-june-tab">...</div>
                        <div class="tab-pane fade" id="nav-month-jul-sept" role="tabpanel"
                          aria-labelledby="nav-month-jul-sept-tab">...</div>
                        <div class="tab-pane fade" id="nav-month-oct-dec" role="tabpanel"
                          aria-labelledby="nav-month-oct-dec-tab">...</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12 col-xl-6 col-lg-12 col-12 col-sm-12">
                    <div class="chart_block height_payment_user">
                      <h5 class="float-left"><b>Completed Assessment</b></h5>
                      <select class="show-tick show-menu-arrow float-right" data-width="fit"  (change)="getassessmentYearlyData($event)">
                        <option *ngFor = "let assessmentyear of assessmentyearList;">{{assessmentyear}}</option>
                      </select>
                      <div class="clearfix"></div>
                      <nav>
                        <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
                          <a class="nav-item nav-link" [ngClass]="{'active': assessmentChartArr.selectedAssessmentQuarter === 'all'}"
                            id="nav-month-overall-tab" data-toggle="tab" role="tab" aria-controls="nav-overall"
                            aria-selected="true" (click)="getassessmentQuarterData(assessmentChartArr.selectedAssessmentYear, 'all')">Overall</a>
                          <a class="nav-item nav-link" [ngClass]="{'active': assessmentChartArr.selectedAssessmentQuarter === 'firstQuarter'}"
                            role="tab" aria-controls="nav-jan-mar"
                            aria-selected="true" (click)="getassessmentQuarterData(assessmentChartArr.selectedAssessmentYear, 'firstQuarter')">Jan-Mar</a>
                          <a class="nav-item nav-link" [ngClass]="{'active': assessmentChartArr.selectedAssessmentQuarter === 'secondQuarter'}"
                            id="nav-month-apr-june-tab" data-toggle="tab"
                            role="tab" aria-controls="nav-month-apr-june"
                            aria-selected="false" (click)="getassessmentQuarterData(assessmentChartArr.selectedAssessmentYear, 'secondQuarter')">Apr-Jun</a>
                          <a class="nav-item nav-link" [ngClass]="{'active': assessmentChartArr.selectedAssessmentQuarter === 'thirdQuarter'}"
                            id="nav-month-jul-sept-tab" data-toggle="tab"
                            role="tab" aria-controls="nav-month-jul-sept"
                            aria-selected="false" (click)="getassessmentQuarterData(assessmentChartArr.selectedAssessmentYear, 'thirdQuarter')">Jul-Sept</a>
                          <a class="nav-item nav-link" [ngClass]="{'active': assessmentChartArr.selectedAssessmentQuarter === 'forthQuarter'}"
                            id="nav-month-oct-dec-tab" data-toggle="tab"
                            role="tab" aria-controls="nav-month-oct-dec"
                            aria-selected="false" (click)="getassessmentQuarterData(assessmentChartArr.selectedAssessmentYear, 'forthQuarter')">Oct-Dec</a>
                        </div>
                      </nav>
                      <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-month-jan-mar" role="tabpanel"
                          aria-labelledby="nav-month-jan-mar-tab">
                          <a href="admin/assessmentReport"><div id="assessment_proctor_chart" class="height_chart"></div></a>
                        </div>
                        <div class="tab-pane fade" id="nav-month-apr-june" role="tabpanel"
                          aria-labelledby="nav-month-apr-june-tab">...</div>
                        <div class="tab-pane fade" id="nav-month-jul-sept" role="tabpanel"
                          aria-labelledby="nav-month-jul-sept-tab">...</div>
                        <div class="tab-pane fade" id="nav-month-oct-dec" role="tabpanel"
                          aria-labelledby="nav-month-oct-dec-tab">...</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12 col-xl-6 col-lg-12 col-12 col-sm-12">
                    <div class="chart_block height_payment_user">
                      <h5 class="float-left"><b>{{globals.adminTranslationText.adminDashboard.top5sellingCertificate.title}}</b></h5>
                      <select class="show-tick show-menu-arrow float-right" data-width="fit" (change)="getSellingCertificatesYearlyData($event)">
                        <option *ngFor="let year of sellingCertificatesyearsList">{{year}}</option>
                      </select>
                      <div class="clearfix"></div>
                      <nav>
                        <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
                          <a class="nav-item nav-link" id="nav-month-overall-tab" data-toggle="tab"
                            role="tab" aria-controls="nav-overall" [ngClass]="{'active': sellingCetificatesArr.selectedQuarter === 'all'}" 
                            aria-selected="true" (click)="getSellingCertificatesQuarterData(sellingCetificatesArr.selectedYear, 'all')">Overall</a>
                          <a class="nav-item nav-link" id="nav-month-jan-mar-tab" data-toggle="tab"
                            role="tab" aria-controls="nav-jan-mar" [ngClass]="{'active': sellingCetificatesArr.selectedQuarter === 'firstQuarter'}"
                            aria-selected="true"  (click)="getSellingCertificatesQuarterData(sellingCetificatesArr.selectedYear, 'firstQuarter')">Jan-Mar</a>
                          <a class="nav-item nav-link" id="nav-month-apr-june-tab" data-toggle="tab"
                             role="tab" aria-controls="nav-month-apr-june" [ngClass]="{'active': sellingCetificatesArr.selectedQuarter === 'secondQuarter'}"
                            aria-selected="false"  (click)="getSellingCertificatesQuarterData(sellingCetificatesArr.selectedYear, 'secondQuarter')">Apr-Jun</a>
                          <a class="nav-item nav-link" id="nav-month-jul-sept-tab" data-toggle="tab"
                            role="tab" aria-controls="nav-month-jul-sept" [ngClass]="{'active': sellingCetificatesArr.selectedQuarter === 'thirdQuarter'}"
                            aria-selected="false" (click)="getSellingCertificatesQuarterData(sellingCetificatesArr.selectedYear, 'thirdQuarter')">Jul-Sept</a>
                          <a class="nav-item nav-link" id="nav-month-oct-dec-tab" data-toggle="tab"
                            role="tab" aria-controls="nav-month-oct-dec" [ngClass]="{'active': sellingCetificatesArr.selectedQuarter === 'forthQuarter'}"
                            aria-selected="false" (click)="getSellingCertificatesQuarterData(sellingCetificatesArr.selectedYear, 'forthQuarter')">Oct-Dec</a>
                        </div>
                      </nav>
                      <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-month-jan-mar" role="tabpanel"
                          aria-labelledby="nav-month-jan-mar-tab">
                          <div class="selling_certificate_block"  id="selling_certificate_block">
                            <!-- <div class="total_title">{{globals.adminTranslationText.adminDashboard.top5sellingCertificate.totalCount}}</div> -->
                            <div class="clearfix"></div>
                            <!-- <div class="certi_block">
                              <div class="icon">1</div>
                              <div class="name">Certificate Name</div>
                              <div class="count">20</div>
                            </div>
                            <div class="certi_block">
                              <div class="icon">2</div>
                              <div class="name">Certificate Name</div>
                              <div class="count">20</div>
                            </div>
                            <div class="certi_block">
                              <div class="icon">3</div>
                              <div class="name">Certificate Name</div>
                              <div class="count">20</div>
                            </div>
                            <div class="certi_block">
                              <div class="icon">4</div>
                              <div class="name">Certificate Name</div>
                              <div class="count">20</div>
                            </div>
                            <div class="certi_block">
                              <div class="icon">5</div>
                              <div class="name">Certificate Name</div>
                              <div class="count">20</div>
                            </div> -->
                          </div>
                        </div>
                        <div class="tab-pane fade" id="nav-month-apr-june1" role="tabpanel"
                          aria-labelledby="nav-month-apr-june-tab1">...</div>
                        <div class="tab-pane fade" id="nav-month-jul-sept" role="tabpanel"
                          aria-labelledby="nav-month-jul-sept-tab">...</div>
                        <div class="tab-pane fade" id="nav-month-oct-dec" role="tabpanel"
                          aria-labelledby="nav-month-oct-dec-tab">...</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>